[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
asynctest = "*"
coverage = "*"
coveralls = "*"
sphinx = "*"
pre-commit = "*"

[packages]
discord-py = {git = "https://github.com/Rapptz/discord.py",ref = "rewrite",extras = ["voice"]}
tortoise-orm = "*"
aiosqlite = "*"

[requires]
python_version = "3.6"
